

@{
    ViewData["Title"] = "Inicio";
    Layout = "_Layout";
}

<!-- End Page Title Section -->
<!-- Pricing Section -->
<section class="pricing-area four pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 col-lg-4">
                <div class="pricing-item">
                    <i class="flaticon-rocket"></i>
                    <h3>50 certificados </h3>
                    <h4><span class="one">$</span> 50 MXN <span class="two">/Trimestral</span></h4>
                    <ul>
                        <li>Plan Basico</li>
                        <li>50 certificados </li>
                        <li class="deleted">Validos durante tres meses</li>
                        <li class="deleted">Tus certificados estaran disponibles 15 años</li>
                    </ul>
                    
                    <a href="@Url.Action("CompraIndividual", "Compra")" class="common-btn">Comprar ahora</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="pricing-item active">
                    <i class="flaticon-rocket-1"></i>
                    <h3>Plan Comercial</h3>
                    <h4><span class="one">$</span> 100 MNX <span class="two">/Mensuales</span></h4>
                    <ul>
                        <li>Plan de Negocio</li>
                        <li>Maximo 500 certificados por mes</li>
                        <li>Se cierra mensualmente</li>
                        <li>Tus certificados estaran disponibles 15 años</li>
                    </ul>
                    
                    <a href="@Url.Action("CompraMensual", "Compra")" class="common-btn">Comprar ahora</a>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="pricing-item">
                    <i class="flaticon-rocket-2"></i>
                    <h3>Plan Industrial</h3>
                    <h4><span class="one">$</span> 299 MXN <span class="two">/Mensuales</span></h4>
                    <ul>
                        <li>Planes Industriales</li>
                        <li>Maximo 2000 Certificados Mensuales</li>
                        <li>Se cierra mensualmente</li>
                        <li>Tus certificados estaran disponibles 15 años</li>
                    </ul>
                  
                    <a href="@Url.Action("CompraMensual300", "Compra")" class="common-btn">Comprar ahora</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing Section -->
