
@{
    ViewData["Title"] = "Confirmacion";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5" style="padding-top:40px;padding:20px">
    <div class="alert alert-success">
        <h4>¡Pago realizado con éxito!</h4>
        <p>Gracias por tu compra. Has adquirido @ViewData["cuantos"] certificados.</p>
    </div>
</div>
