<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/assets/css/meanmenu.css" />
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/assets/fonts/flaticon.css" />
    <link rel="stylesheet" href="~/assets/css/modal-video.min.css" />
    <link rel="stylesheet" href="~/assets/css/odometer.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
    <title>Certificado de Auntencidad y Calidad</title>
    <link rel="icon" type="image/png" href="assets/4x/fullLogo.png" />
</head>




<body>
            @RenderBody()
</body>
</html>
<!-- Footer -->
<footer class="footer-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a class="footer-corel" href="index.html">
                            <img src="~/assets/4x/lineal.png" alt="Logo" />
                        </a>
                        <p>Asegura la genuinidad de productos artesanales, Monedas y joyería mediante certificaciones verificables, brindando confianza tanto a creadores como a compradores.</p>
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-hours">
                        <h3>Apertura en linea</h3>
                        <ul>
                            <li>Lunes <span>8:00 - 20:00</span></li>
                            <li>Martes <span>8:00 - 20:00</span></li>
                            <li>Miercoles <span>8:00 - 20:00</span></li>
                            <li>Jueves <span>8:00 - 20:00</span></li>
                            <li>Viernes <span>8:00 - 20:00</span></li>
                            <li>Sabado <span>9:00 - 14:00</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-link">
                        <h3>Links</h3>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="acercade">Acerca de</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="precios">Precios</a>
                            </li>

                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="faq.html">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-contact">
                        <h3>Información de contacto</h3>
                        <ul>
                            <li>
                                <i class="bx bxs-location-plus"></i>
                                <span>Pedro Garcia Rangel 184, Santiago Tulantepec, Hgo.</span>
                            </li>
                            <li>
                                <i class="bx bxs-phone-call"></i>
                                <a href="tel:+527751513360">+52 775 151 3360</a>

                            </li>
                            <li>
                                <i class="bx bxs-paper-plane"></i>
                                <a href="#">
                                    <span>info@certificadodeautenticidad.com</span>
                                </a>
                                <a href="#">
                                    <span>info2@certificadodeautenticidad.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <p>Copyright  2022 <a href="#" target="_blank">Plantilla Corel</a></p>
        </div>
    </div>
    <div class="footer-shape">
        <img src="assets/img/footer-bg.png" alt="Footer" />
    </div>
</footer>
<!-- End Footer -->
<!-- Go To Top -->
<div class="go-top">
    <i class="bx bxs-up-arrow-alt"></i>
    <i class="bx bxs-up-arrow-alt"></i>
</div>
<!-- End Go To Top -->

<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/form-validator.min.js"></script>
<script src="~/assets/js/jquery.meanmenu.js"></script>
<script src="~/assets/js/wow.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/jquery-modal-video.min.js"></script>
<script src="~/assets/js/odometer.min.js"></script>
<script src="~/assets/js/jquery.appear.min.js"></script>
<script src="~/assets/js/smoothscroll.min.js"></script>
<script src="~/assets/js/custom.js"></script>
