
@{
    Layout = "_Layout";
}

<!-- Preloader -->
<div class="loader">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="pre-load">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Preloader -->
<!-- Header -->
<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-lg-8">
                <div class="left">
                    <ul>
                        <li>
                            <i class="bx bx-mail-send"></i>
                            <a href="mailto:info@certificadodeauntenticidad.com">
                                <span>info@certificadodeauntenticidad.com</span>
                            </a>
                        </li>
                        <li>
                            <i class="bx bx-phone-call"></i>
                            <a href="tel:+527751513360">+52 775 1513360</a>
                        </li>
                        <li>
                            <i class="bx bx-time"></i>
                            <span>Lun - Sab: 8:00 AM - 6:00 PM</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-lg-4">
                <div class="right">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="bx bxl-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- User Form Area -->
<div class="user-form-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="user-form-item">
                    <a class="logo" href="index">
                        <img src="~/assets/img/FullLogo.jpg" alt="Logo" />
                    </a>
                    <form method="post" action="GenerarPdf">

                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Serie" name ="Serie" />

                        </div>

                        <div class="form-group">

                            <input type="number" class="form-control" placeholder="Folio" name="Folio" />

                        </div>

                        <div class="text-center">

                            <button type="submit" class="common-btn">
                                Buscar
                                <span></span>
                            </button>


                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End User Form Area -->
