@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
    Layout = "_Layout";
}







<div class="carousel">
    <!-- lista -->
    <div class="list">
        <div class="itemc">

            <img src="~/assets/img/banner/iStock-2.jpg" />
            <div class="content">
                <div class="name">
                    Viajes
                </div>
                <div class="title">
                    Simo
                </div>
                <div class="des">
                    Con Simo, viaja tranquilo y seguro. Tu amigo en el camino, siempre a tu lado
                </div>
               
            </div>
        </div>
        <div class="itemc">

            <img src="~/assets/img/banner/iStock-2.jpg" alt="Features" />
            <div class="content">
                <div class="name">
                    Servicios
                </div>
                <div class="title">
                    Taxis
                </div>
                <div class="des">
                 Comodidad y seguridad
                </div>

            </div>
        </div>
        <div class="itemc">

            <img src= src="~/assets/img/banner/iStock-1.jpg" />
            <div class="content">
                <div class="name">
                    Servicios
                </div>
                <div class="title">
                    Viajes
                </div>
                <div class="des">
                    Comodidad y seguridad
                </div>

            </div>
        </div>

        <div class="thumbnail">
            <div class="item">

                <img src="~/assets/img/banner/iStock-1.jpg" />
                <div class="content">
                    <div class="title">
                        Taxis
                    </div>
                    <div class="des">
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/assets/img/banner/iStock-3.jpg" alt="Features" />
                <div class="content">
                    <div class="title">
                        Viajes
                    </div>
                    <div class="des">
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/assets/img/banner/iStock-4.jpg">
                <div class="content">
                    <div class="title">
                    Prueba
                    </div>
                    <div class="des">
                       
                    </div>
                </div>
            </div>
            </div>
        
    </div>
    
    @*

<div class="banner-area">
 <div class="banner-slider owl-theme owl-carousel">
        <div class="overlay-banner">
            <div class="banner-item" style="background-image: url('../assets/img/banner/FullLogo.jpg')">
             
            </div>
        </div>
  <div class="overlay-banner">
                <div class="banner-item" style="background-image: url('../assets/img/banner/Joyeria2.jpg')">
             
   </div>
  </div>
  <div class="overlay-banner">
                <div class="banner-item" style="background-image: url('../assets/img/banner/Artesania2.jpg')">
    
   </div>
  </div>
  <div class="overlay-banner">
                <div class="banner-item " style="background-image: url('../assets/img/banner/Monedas.jpg')">
   
   </div>

  </div>
 </div>*@
</div> 

<!-- End Banner Section -->

<!-- Partners Section -->
<div class="logo-area">
 <div class="container">
  <div class="row align-items-center">
   <div class="col-lg-3">
    <div class="logo-text">
     <h3>Simo</h3>
    </div>
   </div>
   <div class="col-lg-9">
    <div class="logo-slider owl-theme owl-carousel">
     <div class="logo-item">
      <img src="assets/img/logo/Simovilidad.png" alt="Logo" />
     </div>
     <div class="logo-item">
      <img src="assets/img/logo/Simovilidad.png" alt="Logo" />
     </div>
     <div class="logo-item">
      <img src="assets/img/logo/Simovilidad.png" alt="Logo" />
     </div>
     <div class="logo-item">
      <img src="assets/img/logo/Simovilidad.png" alt="Logo" />
     </div>
     <div class="logo-item">
      <img src="assets/img/logo/Simovilidad.png" alt="Logo" />
     </div>
     <div class="logo-item">
      <img src="assets/img/logo/Simovilidad.png" alt="Logo" />
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

<!-- End Partners Section -->
<script>
      $(document).ready(function(){
    $('.banner-slider').owlCarousel({
        items:1,
        loop:true,
        autoplay:true, // Activa el autoplay
        autoplayTimeout:2000, // Establece el tiempo de espera en milisegundos (en este caso, 2 segundos)
        autoplayHoverPause:true, // Pausa el autoplay cuando se pasa el mouse sobre el carrusel
        nav:true,
        dots:false,
        navText:["Anterior", "Siguiente"]
    });
});
</script>