@model Certificado2.Modelos.LoginViewModel
@{
    ViewData["Title"] = "Ingresar";
    Layout = "_Layout";
}
<div class="register_wrap section_padding_b mt-5"  ">
    <div class="container" style="padding-top: 120;">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7 col-md-9">
                <!-- login box -->
                <div class="register_form p-4 shadow-sm rounded">
                    <h4 class="mb-4">Ingreso del Certificador</h4>

                    <!-- input form -->
                    <form asp-action="Login" method="post">
                        <input type="hidden" value="Certificador" name="Rol" id="Rol" />

                        <div class="mb-3">
                            <label for="UserName" class="form-label">Usuario <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Escribe el usuario" required>
                        </div>

                        <div class="mb-3">
                            <label for="Password" class="form-label">Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" id="Password" name="Password" placeholder="Contraseña" required>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <!-- remember me -->
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="RememberMe" name="RememberMe">
                                <label class="form-check-label" for="RememberMe">Recuérdame</label>
                            </div>
                            <a href="forgot-password.html" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 rounded-pill">Ingresar</button>
                    </form>

                    <!-- error message -->
                    @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
                    {
                        <div class="alert alert-danger mt-3" role="alert">
                            @ViewBag.Mensaje
                        </div>
                    }

                    <div class="text-center mt-3">
                        <p>
                            ¿No tienes cuenta?
                            <button type="button" class="btn btn-link text-primary p-0" onclick="location.href='~/certificadores/Crear2'">Crea una como Certificador</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

